*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    height: 20%;
  }
  
  .video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  h4 {
    position: sticky;
    top: 0;
    z-index: 1000;
    transform: translateY(-140%);
    width: 100%;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color:blanchedalmond;
    font-size: 5em;
    font-family: sans-serif;
  }
  
  header.fixed {
    position: fixed;
    top: 0;
  }

h4 span{
    display: inline-block;
    animation: animate 1s  ease-in-out;

}
@keyframes animate {
    0% {
      opacity: 0%;
      transform: rotateY(90deg);
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      transform: rotateY(0deg);
      filter: blur(0px);
    }
  }
  
  h4 span {
    animation: animate 2s linear forwards;
    animation-fill-mode: both;
    animation-delay: calc(0.2s * (var(--n) - 1));
    --n: nth-child(var(--n));
  }
  
  h4 span:nth-child(1) {
    animation-delay: 0.8s;
  }
  
  h4 span:nth-child(2) {
    animation-delay: 1.1s;
  }
  
  h4 span:nth-child(3) {
    animation-delay: 1.4s;
  }
  
  h4 span:nth-child(4) {
    animation-delay: 1.7s;
  }
  
  h4 span:nth-child(5) {
    animation-delay: 2s;
  }
  
  h4 span:nth-child(6) {
    animation-delay: 2.3s;
  }
  
  h4 span:nth-child(7) {
    animation-delay: 2.6s;
  }
  
  h4 span:nth-child(8) {
    animation-delay: 2.9s;
  }
  
  h4 span:nth-child(9) {
    animation-delay: 3.2s;
  }
  
  h4 span:nth-child(10) {
    animation-delay: 3.5s;
  }
  
  h4 span:nth-child(11) {
    animation-delay: 3.8s;
  }
  
  h4 span:nth-child(12) {
    animation-delay: 4.1s;
  }

  #skills-button {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }